{{#shapes}}
  .icon--{{base}} {
      width: {{width.outer}};
      height: {{height.outer}};
      background-image: url('/temp/sprite/css/{{{sprite}}}');
      background-position: {{position.relative.xy}};
  }
{{/shapes}}